## Задание 1 
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 

Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [124]:
ratings_1 = pd.read_csv('ratings.csv')
ratings_1.query('rating == 5').groupby('movieId').count().sort_values('rating', ascending = False).head(1)
#хотела выцепить значение movieId (318), что-то не вышло говорит столбца movieId нет подставила ниже вручную. 
# 1) Можно ли так сделать? 2) Требует ли это задача?

         userId  rating  timestamp
movieId
318         153     153        153

In [123]:
ratings_2 = pd.read_csv('movies.csv')
ratings_2.query('movieId == 318').title

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задание 2 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 

категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [127]:
ratings = pd.read_csv('power.csv')

In [128]:
ratings[ ratings['country'].str.contains('ia', case=False) ]['country'].unique()

array(['Austria', 'Czechia', 'Romania', 'Serbia', 'Slovakia', 'Bulgaria',
       'Croatia', 'Lithuania', 'Other Asia', 'T.F.Yug.Rep. Macedonia',
       'Colombia', 'Australia', 'Ethiopia', 'Serbia and Montenegro',
       'Tunisia', 'Georgia', 'Latvia', 'Armenia', 'Russian Federation',
       'Bolivia (Plur. State of)', 'Estonia', 'Ethiopia, incl. Eritrea',
       'French Guiana', 'Indonesia', 'Liberia', 'Malaysia', 'Mauritania',
       'Namibia', 'New Caledonia', 'Slovenia', 'United Rep. of Tanzania',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria',
       'French Polynesia', 'Syrian Arab Republic', 'India', 'Nigeria',
       'Somalia', 'Albania', 'Bosnia and Herzegovina',
       'Czechoslovakia (former)', 'Equatorial Guinea', 'Saudi Arabia',
       'St. Lucia', 'Mongolia', 'Cambodia', 'Gambia',
       'Micronesia (Fed. States of)', 'Northern Mariana Islands'],
      dtype=object)

In [187]:
sort_quantity = ratings.query('quantity >= 0 & (category == 4 | category == 12 | category == 21) & \
(year >= 2005 & year <= 2010) & (country == "Lithuania" | country == "Estonia" | country == "Latvia")')

sort_quantity.quantity.sum()

240580.0

## Задание 3 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. 

Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [37]:
df = pd.read_html('https://fortrader.org/quotes')

n = len(pd.read_html('https://fortrader.org/quotes'))

df[:n]

[                           Название     Цена  Изменение  Изменение(%)  \
 0  EURRUB Курс евро к рублю сегодня  80.0977    -0.4714       -0.5851
 1       USDRUB Курс рубля к доллару  73.4195    -0.7654       -1.0317

    Обновлено
 0        NaN
 1        NaN  ,
                            Название    Цена  Изменение  Изменение(%)  \
 0  Нефть (BRENT) Курс нефти сегодня  23.170      0.170         0.740
 1   Нефть (WTI) Цены на нефть (WTI)  13.180      0.920         7.500
 2          Сахар котировки на сахар  12.630      3.430        37.280
 3                   Газ Цена на газ   1.794     -0.076        -4.064

    Обновлено
 0        NaN
 1        NaN
 2        NaN
 3        NaN  ,
                       Название      Цена   Изменение Изменение(%)  Обновлено
 0      Серебро Цена на серебро    15.134  нет данных   нет данных        NaN
 1    Палладий Цена на Палладий  1886.250  нет данных   нет данных        NaN
 2  Золото Цена золота на бирже  1723.500        +3.0         +0.2        NaN
 3      Платина Цены на платину   792.300  нет данных   нет данных        NaN
 4      Медь Цена меди на бирже     2.339     -0.0015      -0.0641        NaN,
                                         Название          Цена   Изменение  \
 0                                  ВТБ Акции ВТБ       0.03452   +0.000600
 1                         Газпром Акции газпрома     188.15000       +1.26
 2                            Лукойл Акции Лукойл    4741.00000       +65.5
 3                        Роснефть Акции Роснефти     324.55000       +1.05
 4                       Сбербанк Акции Сбербанка     193.05000       +3.63
 5           Сургутнефтегаз Акции Сургутнефтегаза      36.67500      +1.585
 6                      Норникель Акции Норникель   20004.00000        -136
 7                       Аэрофлот Акции Аерофлота      75.32000       +0.94
 8                    Северсталь Акции Северсталь     871.80000  нет данных
 9                    Транснефть Акции Транснефть  135050.00000      +1 000
 10             Ростелеком Курс акций ростелекома      81.85000       +2.77
 11                    Алроса Акции АЛРОСА (ALRS)      64.08000      +2.020
 12                      РУСАЛ Акции РУСАЛ (RUAL)      26.15000      +0.100
 13                        НМЛК Акции НЛМК (NLMK)     125.44000      +1.740
 14                    Магнит Акции Магнит (MGNT)    3392.00000       +41.5
 15                  М.видео Акции М.видео (MVID)     362.00000       +1.40
 16    Газпром нефть Акции "Газпром нефть" (SIBN)     321.95000       +5.95
 17                        НМТП Акции НМТП (NMTP)       8.58000     -0.0200
 18            Полиметалл Акции Полиметалл (POLY)    1415.10000     -152.90
 19        Полюс Золото Акции Полюс Золото (PLZL)   11916.50000      -164.5
 20                  НОВАТЭК Акции НОВАТЭК (NVTK)    1021.80000      +27.80
 21                РусГидро Акции РусГидро (HYDR)       0.62650     +0.0063
 22                Татнефть Акции Татнефть (TATN)     529.00000       +9.00
 23        АФК Система Акции АФК "Система" (AFKS)      13.88100      -0.029
 24                                 МТС Акции МТС     314.00000       +3.15
 25                Башнефть Акции Башнефть (BANE)    1737.00000       +18.5
 26                    Яндекс Акции Яндекс (YNDX)    2754.80000       +39.8
 27  X5 Retail Group Акции X5 Retail Group (FIVE)    2169.50000      -14.50
 28                                 ПАО «ФСК ЕЭС»       0.18122    +0.00120
 29                      Мечел Акции Мечел (MTLR)      67.23000       -0.15
 30                              Московская биржа     125.32000       +4.81

    Изменение(%)  Обновлено
 0     +1.768868        NaN
 1         +0.67        NaN
 2          +1.4        NaN
 3         +0.32        NaN
 4         +1.92        NaN
 5        +4.517        NaN
 6            -1        NaN
 7         +1.26        NaN
 8    нет данных        NaN
 9            +1        NaN
 10        +3.50        NaN
 11       +3.255        NaN
 12       +0.384        NaN
 13       +1.407        NaN
 14         +1.2        NaN
 15        +0.39        NaN
 16        +1.88        NaN
 17      -0.2326        NaN
 18        -9.75        NaN
 19         -1.4        NaN
 20        +2.80        NaN
 21      +1.0158        NaN
 22        +1.73        NaN
 23       -0.208        NaN
 24        +1.01        NaN
 25         +1.1        NaN
 26         +1.5        NaN
 27        -0.66        NaN
 28     +0.66659        NaN
 29        -0.22        NaN
 30        +3.99        NaN  ,
                                              Название    Цена   Изменение  \
 0                           Microsoft Microsoft Corp.  169.63       -4.42
 1                                   APPLE Акции APPLE  278.44       -4.73
 2                       Макдональдс Акции Макдональдс  186.01       +0.12
 3                                 Toyota Акции Тойоты  120.94  нет данных
 4                    Volkswagen Курс акций Volkswagen  126.56       +4.06
 5                                Yandex Акции яндекса   37.53       +0.57
 6   Boeing Company (The) Common Sto Boeing Company...  130.60       +1.92
 7   Coca-Cola Company (The) Common Coca-Cola Compa...   46.80       +0.02
 8                        Facebook Цена акций Facebook  182.53       -4.97
 9                           Tesla Цены на акции Тесла  763.27      -35.48
 10                          Twiter Цена акций твитера   28.92       -1.08
 11                  Hasbro Цена на акции Hasbro, Inc.   77.86  нет данных
 12                                             Сименс   85.07       +3.67

    Изменение(%)  Обновлено
 0         -2.54        NaN
 1         -1.67        NaN
 2         +0.06        NaN
 3    нет данных        NaN
 4         +3.31        NaN
 5         +1.54        NaN
 6         +1.49        NaN
 7         +0.04        NaN
 8         -2.65        NaN
 9         -4.44        NaN
 10        -3.60        NaN
 11   нет данных        NaN
 12        +4.51        NaN  ,
                                             Название       Цена  Изменение  \
 0                         EURUSD Курс евро к доллару    1.08211   -0.00033
 1         AUDCAD Australian Dollar / Canadian Dollar    0.90816    0.00290
 2   AUDUSD Курс австралийского доллара к доллару сша    0.64871    0.00377
 3                        GBPUSD Курс фунта к доллару    1.24210   -0.00001
 4                          EURCHF Euro / Swiss Franc    1.05465   -0.00163
 5                  EURGBP Euro / Great Britain Pound    0.87075   -0.00060
 6                         EURJPY Euro / Japanese Yen  115.65100   -0.49300
 7          GBPJPY Great Britain Pound / Japanese Yen  132.74500   -0.52700
 8              NZDUSD New Zealand Dollar / US Dollar    0.60510    0.00271
 9       USDCAD Курс канадского доллара к доллару сша    1.40015   -0.00350
 10                        USDJPY Курс йены к доллару  106.85700   -0.43900
 11                    USDCHF US Dollar / Swiss Franc    0.97438   -0.00145
 12         USDCNH Курс китайского юаня к доллару США    7.08216   -0.00654

     Изменение(%)  Обновлено
 0       -0.03049        NaN
 1        0.32035        NaN
 2        0.58455        NaN
 3       -0.00081        NaN
 4       -0.15432        NaN
 5       -0.06886        NaN
 6       -0.42400        NaN
 7       -0.39500        NaN
 8        0.44987        NaN
 9       -0.24935        NaN
 10      -0.40900        NaN
 11      -0.14859        NaN
 12      -0.09226        NaN  ,
                                              Название           Цена  \
 0                                           Dash Dash      81.795000
 1                                       Ripple Ripple       0.212160
 2                               Bitcoin Курс биткоина    7728.960000
 3          Litecoin Курс лайткоин к доллару (LTC/USD)      44.691000
 4   BitcoinCash Курс Биткоин кеш к доллару США (BC...     238.700000
 5                                   Ethereum Ethereum     196.219000
 6                                   EmerCoin EmerCoin            NaN
 7                                   NameCoin NameCoin            NaN
 8                                   PeerCoin PeerCoin            NaN
 9                             BTCRUB биткоин в рублях  247059.000000
 10                              BTCEUR биткоин в евро    7144.850000
 11                                        Zcash (ZEC)      44.073000
 12                                          NEO (NEO)       8.395000
 13                                          EOS (EOS)       2.727700
 14                                         TRON (TRX)       0.015168
 15                                             Monero      61.947000
 16                                            Cardano       0.045849
 17                                               IOTA       0.171870
 18                       ETC/USD эфириум классик, ETC       6.050100

      Изменение Изменение(%)  Обновлено
 0       -0.969       -1.171        NaN
 1     +0.01453     +7.35212        NaN
 2       -55.97        -0.72        NaN
 3       +0.227       +0.511        NaN
 4       -3.250       -1.343        NaN
 5       +0.599       +0.306        NaN
 6   нет данных   нет данных        NaN
 7   нет данных   нет данных        NaN
 8   нет данных   нет данных        NaN
 9   нет данных   нет данных        NaN
 10  нет данных   нет данных        NaN
 11      -0.417       -0.937        NaN
 12      -0.030       -0.358        NaN
 13     -0.0154      -0.5614        NaN
 14   +0.000662    +4.563629        NaN
 15      -0.368       -0.591        NaN
 16   -0.000030    -0.065389        NaN
 17    -0.00251     -1.43939        NaN
 18     -0.0603      -0.9868        NaN  ,
                                    Название       Цена   Изменение  \
 0   Фьючерс РТС Курс фьючерса на индекс РТС  118130.00    +117 046
 1                      РТС Курс индекса РТС    1109.60      +25.92
 2                                     DAX30   11541.90        0.00
 3                       Индекс Dow 30 (DJI)   23993.00        -141
 4                                      FTSE    7137.70    +1 290.9
 5                                    CAC 40    4509.50  нет данных
 6                                Nasdaq 100    8696.21  нет данных
 7                              Russell 2000    1297.60       +15.7
 8                                   S&P 500    2859.78   +2 774.21
 9                                   IBEX 35    6809.50       +73.7
 10                               Nikkei 225   19995.00  нет данных
 11                            Euro Stoxx 50    2895.70  нет данных
 12                              S&P/ASX 200    5326.40  нет данных
 13                                      MIB   17540.00  нет данных

    Изменение(%)  Обновлено
 0       +10 801        NaN
 1         +2.39        NaN
 2          0.00        NaN
 3            -1        NaN
 4         +22.1        NaN
 5    нет данных        NaN
 6    нет данных        NaN
 7          +1.2        NaN
 8     +3 242.04        NaN
 9          +1.1        NaN
 10   нет данных        NaN
 11   нет данных        NaN
 12   нет данных        NaN
 13   нет данных        NaN  ]